
@{
    ViewBag.Title = "ChangeAdminPassword";
    // Layout = "~/Views/Shared/_Layout1.cshtml";
}


<div class="well-sm" style="background-color: #f7714df2;color: white;">
    <h2>Change Password</h2>
</div>
<div class="jumbotron">



    <div class="container-fluid">
        <form action="/Dashboard/ChangeAdminPassword" method="post" class="form-group">

            @if (ViewBag.obj != null)
            {
                <input type="hidden" name="hid" value="@ViewBag.hid" />
                <div class="row">
                    <div class="col-sm-2" style="text-align:right">
                        <label>
                            Old Password:
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <input type="password" maxlength="20" id="oldpwd" required onchange="checkOldPassword()" value="" class="form-control" />
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-sm-2" style="text-align:right">
                        <label>
                            New Password:
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <input type="password" maxlength="20" required id="newpwd" onchange="CheckPWd(this)" name="pwd" class="form-control" />
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-sm-2" style="text-align:right">
                        <label>
                            Confirm Password:
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <input type="password" maxlength="20" required id="cnfpwd" onchange="CheckCnfPWd(this)" class="form-control" />
                        <span id="txtlbl" style="color:red"></span>
                        <br />
                        <div class="row">
                            <div class="col-sm-12">

                                @if (TempData["Success"] != null)
                                {
                                    <span style="color:green">@TempData["Success"]</span>
                                }
                                @if (TempData["Error"] != null)
                                {
                                    <span style="color:red">@TempData["Error"]</span>
                                }
                            </div>

                        </div>

                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-lg-10 right">
                        <input type="submit" class="btn btn-sm" value="Save" onclick="clicked('Are you sure to Save?')" style="background-color: #f7714df2;color: white;font-weight: bold;position: relative;left: 103%;" />
                    </div>
                </div>
            }



        </form>
    </div>

</div>

<script>
    function CheckPWd(pwdtxt) {
        debugger
        if ($("#oldpwd").val() == '') {
            $("#txtlbl").text("Please enter old password..");
            pwdtxt.value = "";
            $("#oldpwd").val('')
        }
        else {
            if (pwdtxt.value == $("#oldpwd").val()) {
                $("#txtlbl").text("New password cann't be equal to the old password.");
                pwdtxt.value = "";

                $("#oldpwd").val('')
                $("#cnfpwd").val('')
            }
            else {
                $("#txtlbl").text("");
            }

        }
    }

    function checkOldPassword() {
        debugger
        var pwd = $("#oldpwd").val();

        $.ajax({
            type: "POST",
            url: "/Admin/CheckOldPassword",
            contentType: "application/json; charset=utf-8",
            data: '{"password":"' + $("#oldpwd").val() + '"}',
            dataType: "html",
            success: function (data) {
                if (data != 1) {
                    $("#txtlbl").text("Old password is not correct");
                    $("#oldpwd").val('')
                    $("#newpwd").val('')
                    $("#cnfpwd").val('')
                } else {
                    $("#txtlbl").text("");
                }
            },
            error: function () {

            }
        });

    }

    function CheckCnfPWd(pwdtxt) {
        debugger
        if (pwdtxt.value != $("#newpwd").val()) {
            $("#txtlbl").text("Confirm password not matched!.");
            pwdtxt.value = "";
            $("#newpwd").val('')
            $("#oldpwd").val('')

        } else {
            $("#txtlbl").text("");
        }

    }


    function clicked(msg) {
        debugger
        if (confirm(msg)) {

        } else {
            event.preventDefault();
        }
    }

</script>